@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Lato&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    position:sticky;
    top: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: 'Baloo 2', cursive;
    transition: all 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035)
}

.logo{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 13vw;
    padding: 4px;
}

.logo img{
    height: 100%;
}

.menu-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list li{
    list-style: none;
    margin: 0 1vw;
    
    
}

.menu-list li a{
    padding: 0 1vw;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 1.7em;
    transition: all 0.2s ease-in;


}

.menu-list li a:hover{
    color: black;
    background-color:white;
}


.search-bar{
    display:flex;
    align-items: center;
    justify-content:center;
    height: 5vh;
    min-width: 18vw;
    margin-left: 8vw;
    border-radius: 5px;
    overflow:hidden;
    cursor: pointer;
    color: white;
    background-color: transparent;
    border: 2px white solid;
}

.search-bar input{
    height: 100%;
    width: 87%;
    padding: 0 5px;
    font-size: 1em;
    outline: none;
    border: none;
    color: white;
    background-color: transparent;
}

.search-bar i:hover{
    font-size: 15px;
}

.menu-icon{
    position: absolute;
    top: 2.8vh;
    right: 3%;
    display: none;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
}

.background{
    background: rgba(0, 0, 0, 0.6) url(../img/bg1.jpg);
    background-size: cover;
    background-blend-mode:darken;
}

.showcase{
    height: 120vh;
    
}

.showcase-box{
    height: 85%;
    width: 60%;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.buttons{
    width: 100%;
    display: flex;
    gap: 10px;
}

.showcase-btn{
    padding: 1.5vh 2.5vw;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px white solid;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.showcase-btn:hover{
    color: rgba(0, 0, 0, 0.8);;
    background-color: white;


}

.first-half{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.second-half{
    width:40%;
    
}

.second-half img{
    width: 85%;
    padding: 5px;
    border-radius: 50%;
    border: 2px white solid;
}

.primary-heading{
    width: 100%;
    font-size: 2.2rem;
    text-transform: capitalize;
    font-family: 'Baloo 2', cursive;

}

.para{
    width: 95%;
    margin: 2.5vh 0;
    font-size: 18px;
}



.container{
    height:auto;
    margin: 10vh 0;
}

.section-left{
    flex-direction: row-reverse;
}

.boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 85%;
    
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8vh 0;
    border-radius: 10px;
    background-color: rgb(247, 241, 246);
}

.box-head{
    font-size: 27px;
    font-family: 'Baloo 2', cursive;
    margin: 1vh 0;

}

.content{
    margin: 0 1vw;
}

.thumbnail {
    width: 18vw;
    padding: 5px;
    border-radius: 10px;
    border: 2px black solid;
}

.secondary-head{
    margin: 2vh 0;
    text-align: center;
    font-family: 'Baloo 2', cursive;


}

#contact{
    height:auto;
    width: 100%;
    padding: 10px;
    background-color: rgb(226, 223, 223);
    
}

.contact-form{
    max-width:55%;
    margin: auto;
    
}

.form-input{
    height: 7vh;
    width: 100%;
    margin: 1.5vh 0;
    padding: 5px;
    border: 1px black solid;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
}

.contact-form textarea{
    height: auto;
}

.btn-s{
    padding: 1vh 1.5vw;
    font-size: 17px;
    border-radius: 5px;
    border: 1px black solid;
    color: black;
    background-color: white;
    cursor: pointer;

}

footer{
    height: 7vh;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: white;
    
}

/* Media query */

@media screen and (max-width:1000px) {

    .menu-icon{
        display: block;
    }

    .navbar{
        flex-direction: column;
        z-index: 20;
    }

    .logo{
        position: absolute;
        top:0;
        left: 1%;
        margin: 0;
    }

    .second-half img{
        max-width: 20vw;
    }


    .menu-list{
        margin-top: 2.5vh;
        flex-direction: column;
    }

    .menu-list li{
        margin: 2vh 0;
    }

    .search-bar{
        margin: 0;

    }

    .showcase-box{
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        text-align: center;

    }

    .buttons{
        justify-content:center;
        align-items: center;
        margin: 10px 0;
    }

    .primary-heading{
        font-size: 2rem;
    }

    .box{
        flex-wrap: wrap;
    }

    .box-head{
        text-align: center;
    }

    .content{
        text-align: center;
    }

    .thumbnail{
        margin-top: 5vh;
        width: 240px;
    }

    .v-class{
        display: none;
    }

    .v-height{
        height: 80vh;
    }
}

@media screen and (max-width:400px){

    .showcase{
        height: 130vh;
    }
   
   .second-half img{
       max-width: 26vw;
   }

   .boxes{
       padding: 20px;
   }

   .buttons{
       flex-direction: column;
       gap: 15px;
   }

   .contact-form{
       max-width: 60vw;
   }

   footer{
       font-size: 14px;
   }

}
